[Desktop Entry]
Encoding=UTF-8
Name=Limitless
Comment=Limitless P2P Cryptocurrency
Comment[fr]=Limitless, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Limitless, eşten eşe kriptografik sanal para birimi
Exec=limitless-qt %u
Terminal=false
Type=Application
Icon=limitless128
MimeType=x-scheme-handler/limitless;
Categories=Office;Finance;
