[Unit]
Description=TittieCoin's distributed currency daemon
After=network.target

[Service]
User=tittiecoin
Group=tittiecoin

Type=forking
PIDFile=/var/lib/tittiecoind/tittiecoind.pid

ExecStart=/usr/bin/tittiecoind -daemon -pid=/var/lib/tittiecoind/tittiecoind.pid \
          -conf=/etc/tittiecoin/tittiecoin.conf -datadir=/var/lib/tittiecoind

ExecStop=-/usr/bin/tittiecoin-cli -conf=/etc/tittiecoin/tittiecoin.conf \
         -datadir=/var/lib/tittiecoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
